/**
 * Front end style.
 */
.wp-block-animated-pineapple-block-animated-pineapple {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
	row-gap: 10px;

	.animated-pineapple-product {
		flex: 1;
		position: relative;

		.sale-tag {
			position: absolute;
			left: 5px;
			top: 5px;
			padding: 2px 8px;
			font-size: 12px;
		}
	}
}
